/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Roboto',sans-serif;
}

body{
background:#000;
display:flex;
justify-content:center;
height:100vh;
overflow:hidden; /* IMPORTANT - No Scroll */
}

.app-container{
width:100%;
max-width:480px;
height:100vh; /* Fixed height */
background:#000;
display:flex;
flex-direction:column;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 18px;
}

.header-left{
display:flex;
align-items:center;
gap:15px;
font-size:18px;
color:#fff;
}

.header-title{
font-size:16px;
font-weight:700;
}

.header-right{
font-size:18px;
color:#aaa;
}

/* MAIN CONTENT */
.main-content{
padding:15px;
}

.payee-profile{
display:flex;
align-items:center;
gap:12px;
margin-bottom:18px;
}

.avatar-circle{
width:40px;
height:40px;
background:#00695C;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:14px;
color:#fff;
}

.payee-name{
font-size:13px;
font-weight:700;
color:#fff;
}

.payee-upi{
font-size:12px;
color:#aaa;
}

.info-box{
background:#121212;
border-radius:8px;
padding:12px;
margin-bottom:12px;
}

.amount-box{
display:flex;
align-items:center;
gap:8px;
padding:15px 12px;
}

.rupee-symbol{
font-size:18px;
color:#888;
}

.amount-text{
font-size:20px;
font-weight:600;
color:#fff;
}

.msg-label{
font-size:11px;
color:#777;
}

.msg-value{
font-size:13px;
color:#bbb;
}

.disclaimer-text{
font-size:11px;
color:#666;
margin-top:8px;
}

/* BOTTOM SHEET */
.bottom-sheet{
margin-top:auto;
background:#1E1E1E;
border-top-left-radius:14px;
border-top-right-radius:14px;
padding:15px 0;
}

.sheet-header{
display:flex;
justify-content:space-between;
align-items:center;
padding:0 15px 12px 15px;
border-bottom:1px solid #333;
}

.total-label{
font-size:14px;
font-weight:700;
color:#fff;
}

.total-amount{
font-size:16px;
font-weight:700;
color:#fff;
}

.section-container{
padding:15px;
}

.section-title{
font-size:11px;
color:#888;
margin-bottom:10px;
}

.payment-method-row{
background:#2C2C2C;
border-radius:8px;
padding:10px;
display:flex;
align-items:center;
gap:10px;
}

.sbi-img-logo{
width:28px;
height:28px;
background:#fff;
border-radius:50%;
object-fit:cover;
}

.bank-name{
font-size:13px;
color:#fff;
}

.account-info{
font-size:11px;
color:#bbb;
}

.method-right{
margin-left:auto;
display:flex;
align-items:center;
gap:8px;
}

.method-amount{
font-size:12px;
font-weight:700;
}

.check-icon{
color:#4CAF50;
}

.action-row{
display:flex;
align-items:center;
gap:12px;
padding:8px 0;
font-size:13px;
color:#fff;
}

.pay-footer{
padding:10px 15px;
}

.purple-pay-btn{
width:100%;
background:#673AB7;
color:white;
font-size:14px;
font-weight:600;
padding:12px;
border:none;
border-radius:6px;
cursor:pointer;
}

.purple-pay-btn:active{
background:#5E35B1;
}
